@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
/* reset */
*::after,
*::before,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-bg: #fff;
  --clr-bg-black: rgb(37, 34, 34);
  --clr-clr-white: whitesmoke;

  --ff-footers: "Lato", "Arial", sans-serif;
  --ff-primary: "Noto Sans", "Noto Serif", "Times New Roman", Times, serif;
  --ff-title-logo: "Playfair Display", "Georgia", serif;
}

body {
  background-color: var(--bg-color);
  font-family: var(--ff-primary);
}

h1,
h2,
h3,
h4 {
  font-family: var(--ff-title-logo);
}

footer p {
  font-family: var(--ff-footers);
}

.index__main--header {
  z-index: 3;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: center;
  margin-bottom: 10px;

  box-shadow: 0 2px 5px #000;
}

.index__main--header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: -1;
}

input[type="checkbox"] + label {
  position: absolute;
  left: 0%;
  top: 40%;
  height: 100%;
  font-size: 2.3em;
  user-select: none;
  transform: translateX(20%) translateY(-50%);
  cursor: pointer;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] ~ nav {
  position: absolute;
  top: 100%;
  left: 0;
  height: 100vh;
  width: 0;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  box-shadow: 2px 5px 5px #000;
  overflow: hidden;

  transition: 0.6s width ease;
}

input[type="checkbox"]:checked ~ nav {
  position: absolute;
  top: 100%;
  left: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  box-shadow: 2px 5px 5px #000;
  overflow: hidden;

  transition: 0.6s width ease;
}

input[type="checkbox"] ~ nav ul li a {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  font-family: arial;
  color: #000;
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px 30px;
  height: 50px;
}

input[type="checkbox"] ~ nav ul li a:hover {
  position: relative;
  background-color: rgba(245, 222, 179, 0.345);
  transform: all 1s;
}

input[type="checkbox"] ~ nav ul li a::before {
  content: "";
  position: absolute;
  background-color: rgba(109, 255, 68, 0.53);
  width: 10px;
  height: 100%;
  left: 100%;
  top: 0;
  transform: translateX(-100%);
  opacity: 0;
}

input[type="checkbox"] ~ nav ul li a:hover::before {
  content: "";
  position: absolute;
  background-color: rgba(109, 255, 68, 0.53);
  width: 10px;
  height: 100%;
  left: 100%;
  top: 0;
  transform: translateX(-100%);
  opacity: 1;

  transition: all 0.3s ease;
}

.index__main-main-content {
  margin-left: 100px;
}

.image-overlay {
  position: relative;
  display: inline-block;
  width: fit-content;
}

.image-overlay img {
  display: block;
  width: 40vw;
  height: 350px;
  transition: width 0.3s ease, height 0.3s ease;
}

.image-overlay img:hover {
  display: block;
  width: 45vw;
  height: 360px;
  transition: width 0.3s ease, height 0.3s ease;
}

.image-overlay p {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 10px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos-title {
  text-align: center;
  margin: 15px 0;
}

h2.logos-title {
  font-size: 3rem;
}

.logos img {
  width: 23vw;
}

.index__main--footer {
  margin-top: 20px;
  padding: 20px;
  background-color: var(--clr-bg-black);
  color: var(--clr-clr-white);
}

.insipartion a {
  color: black;
}

.insipartion li {
  display: flex;
  justify-content: center;
  align-content: start;
}

.insipartion ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-content: center;
  min-height: 72vh;
}

.cards {
  min-height: 72vh;
}
